//-!!! transitional
!!! 5
html
  head
    title  #{title}
    link(rel='stylesheet', href='/csslib/bootstrap.css')
    link(rel='stylesheet', href='/csslib/bootstrap-responsive.css')
    style body{padding-top: 60px;padding-bottom: 40px;}
    //if lt IE 9
      script(type='text/javascript', src='/jslib/html5shiv.js')
    script(type='text/javascript', src='/jslib/jquery-1.9.0.min.js')
    script(type='text/javascript', src='/jslib/bootstrap.min.js')
  body
    include ../navbar
    .container
      .hero-unit
        h1 Hello, world!
        p This is a template for a simple marketing or informational website.
          |It includes a large callout called the hero unit and three supporting pieces of content.
          |Use it as a starting point to create something more unique.
        p: a.btn.btn-primary.btn-large(href='#') Learn more &raquo;
      .row
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
            |tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta
            |sem malesuada magna mollis euismod. Donec sed odio dui.
          p: a.btn(href='#') View details &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
            |tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta
            |sem malesuada magna mollis euismod. Donec sed odio dui.
          p: a.btn(href='#') View details &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
            |tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta
            |sem malesuada magna mollis euismod. Donec sed odio dui.
          p: a.btn(href='#') View details &raquo;
      hr
      footer: p &copy; Company 2013